<div id='new-stock'>
<%= form_for @stock do |f| %>
  <div class="form-group">
    <%= f.text_field :ticker, placeholder: 'Ticker' %>
  </div>
  
  <div class="form-group">
    <%= text_field_tag 'stock[portfolios]', nil, placeholder: 'Porfolios, separated by commas' %>
  </div>
  
  <%= f.submit %>
<% end %>
</div>