.main {
  position: relative;
  top: 70px;  
}

table, th, td{
  border: 1px solid black;
}

.multiples {
  text-align: right;
}

.ticker, .price, .marketcap {
  text-align: center;
}

.portfolio {
  margin-left: 0;
}